/* Existing styles */

.back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 12px 24px;
    border: 2px solid #3d405b;
    background: #e07a5f;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f4f1de;
    box-shadow: 4px 4px 0px #3d405b;
    text-decoration: none;
}

/* Hover effect to simulate "click down" on the back button */
.back-btn.clicked {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #3d405b;
}

#backgrounds li {
    background: #e07a5f;
    color: #f4f1de;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 0px #3d405b;
    cursor: pointer; /* Add cursor pointer to indicate interaction */
}

#backgrounds li:hover {
    background-color: #3d405b;
}
